
body{
  color: rgb(0, 17, 255);  /*blue,black,red,green*/
  background-color: chartreuse; /*yellow,cyan,magenta,white*/
  font-size: 20px; /*px,em,rem,%,vw,vh*/
  font-weight: lighter; /*lighter,normal,bolder,bold*/
  font-family: 'Times New Roman', Times, serif; /*serif,sans-serif*/
  text-align: right; /*left,right,center,justify*/
margin-top: 100px; /*top,right,bottom,left*/
}

.centering-with-margins{
  display:block;
  width:200px;
  margin:auto;

}

.flow{
  background-color: aliceblue;
  border: black solid 2px;
  border-radius:20px;
  width: 120px ;
  padding-right: 30px;
padding-left: 10px;
}