@font-face{
  src: url("Shivaraja.ttf");
  font-family: Shivaraja;
}

body{
   text-align: center;
  font-family:Shivaraja;
  font-weight: bold;
     color: rgb(23, 134, 189);
margin:   0;
}
#hero{

  background-image: url("m3.webp");
  background-size: 100% 100%;
 padding: 10px 0px 400px  0px;

}
/*
 text-shadow: 5px 0px 0px  white;
              ➡️ ⬇️  blur
*/
#title{
  text-shadow: 0px 0px 4px  white;
}

#mainlogo{
  width: 200px;
  height: auto;
}

.btn{
  padding: 6px 12px;
  border-radius: 5px ;
  border: none;
  background-color: white;
  font-size: 'orbitron', sans-serif;
font-weight: bold;
   color: rgb(60, 181, 242);

}
.underline{
  text-decoration: underline;
  /*border-buttom=underline*/
}

